@page "/GamePageTwisty"
<a href="/">Return</a>
<br>
<a href="/Solutions">View Solutions</a>

<head>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }

        input {
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>Twisty Maze</h1>
    <p style="color: blue;">You are currently in cell @myLocation
        <br>
        You Found: @myLocation.WhatsHere
    </p>
    <div>
        <form @onsubmit="MakeMove">
            <input @bind="userInput" placeholder="Enter direction" />
            <input type="submit" value="Move" />
        </form>
    </div>
</body>

<h2>Move History</h2>
<ul style="color: rgb(129, 218, 137);">
    @foreach (var move in moveHistory)
    {
        <li>@move</li>
    }
</ul>

@code
{
    private MazeCell myLocation = MazeGame.TwistyInstance.StartingLocation;
    private string? userInput;
    private string moveMessage = "";
    private static List<string> moveHistory = new List<string>();

    void MakeMove()
    {
        (myLocation, moveMessage) = MazeGame.Instance.Movement(userInput, myLocation);
        moveHistory.Insert(0, moveMessage);
        userInput = null;

        if (moveHistory.Count > 10)
        {
            moveHistory.RemoveAt(moveHistory.Count - 1);
        }
    }
}