@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Maze Game</h1>
Welcome to the maze game!
<br>

@if (!gameStarted)
{
    <br>
    <label>Enter the Map Seed/Name
        <input @bind=mazeSeed />
    </label>

    <button @onclick="startGame">Confirm</button>
}

else
{
    <br>
    <button @onclick="joinGame">Join the Normal Maze</button>
    <button @onclick="joinGameTwisty">Join the Twisty Maze</button>
}

<p style="color:red;">@invalidName</p>


@code {
    public string mazeSeed;
    private string? invalidName;
    public static bool gameStarted;

    void startGame()
    {
        if (!string.IsNullOrWhiteSpace(mazeSeed))
        {
            MazeGame.Instance.StartNewMaze(mazeSeed);
            
            invalidName = null;
            gameStarted = true;
            StateHasChanged();
        }
        else
        {
            gameStarted = false;
            invalidName = "Please enter a valid name";
            mazeSeed = null;
            StateHasChanged();
        }
    }
    void joinGame()
    {
        Navigation.NavigateTo("/GamePage");
    }
    void joinGameTwisty()
    {
        Navigation.NavigateTo("/GamePageTwisty");
    }
}