@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Maze Game</h1>

Welcome to the maze game!
<br <label>Name
<input @bind=mazeName />
</label>

<button @onclick="startGame">Start</button>

<p style="color:red;">@invalidName</p>


@code {
    public string mazeName;
    private string? invalidName;
    void startGame()
    {
        if (!string.IsNullOrEmpty(mazeName))
        {
            MazeInstance.Instance.StartNewMaze(mazeName);
            Console.WriteLine($"Starting new maze: {MazeInstance.Instance.MazeName}");
            MazeCell startLocation = MazeUtilities.mazeFor(mazeName);
            Navigation.NavigateTo("/Solutions");
            invalidName = null;
        }
        else
        {
            invalidName = "Please enter a valid name";
        }
    }
}