@page "/"

<PageTitle>Home</PageTitle>

<h1>Maze Game</h1>

Welcome to the maze game!
<br
<label>Name
    <input @bind=mazeName />
</label>

<button @OnClick @=StartGame <a href="/Solutions">Start</a></button>



@code{
    string mazeName;
    void startGame()
    {
        MazeCell startLocation = MazeUtilities.mazeFor(mazeName);
    }
}