@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Maze Game</h1>

Welcome to the maze game!

@if (!gameStarted)
{
    <br>
    <label>Name
        <input @bind=mazeName />
    </label>

    <button @onclick="startGame">Confirm</button>
}

else
{
    <br>
    <button @onclick="joinGame">Join the Game</button>
}

<p style="color:red;">@invalidName</p>


@code {
    public string mazeName;
    private string? invalidName;
    public static bool gameStarted;

    void startGame()
    {
        if (!string.IsNullOrWhiteSpace(mazeName))
        {
            MazeInstance.Instance.StartNewMaze(mazeName);
            Console.WriteLine($"Starting new maze: {MazeInstance.Instance.MazeName}");
            MazeCell startLocation = MazeUtilities.mazeFor(mazeName);
            invalidName = null;
            gameStarted = true;
            StateHasChanged();
        }
        else
        {
            StateHasChanged();
            gameStarted = false;
            invalidName = "Please enter a valid name";
        }
    }

    void joinGame()
    {
        Navigation.NavigateTo("/GamePage");
    }
}