@page "/"

<PageTitle>Home</PageTitle>

<h1>Maze Game</h1>

Welcome to the maze game!
<br
<label>Name
    <input @bind=mazeName />
</label>
<a href="/Solutions">Solutions</a>

@code{
    string mazeName;
    void starGame()
    {
        mazeName = userName;
    }
}