@page "/Solutions"

@using MermaidJS.Blazor
<a href="/">Return</a>
<br>
<br>

<PageTitle>BasicMaze Maze</PageTitle>

<button @onclick="GenerateMaze"> Show Normal Maze</button>
<button @onclick="GenerateTwistyeMaze"> Show Twisty Maze</button>

<MermaidDiagram Definition="@pathOutOfMaze" />
<p></p>
<p></p>
<p></p>
<MermaidDiagram Definition="@pathOutOfTwistyMaze" />


@code
{
    string name = MazeInstance.Instance.MazeName;
    string pathOutOfMaze = "";
    string pathOutOfTwistyMaze = "";
    private void GenerateMaze()
    {
        MazeCell startLocation = MazeUtilities.mazeFor(name);

        var path = MazeUtilities.ExploreMaze(startLocation);
        var instructions = path.Select(node => $"{node.From.Id}[\"{node.From}\"]--{node.Label}-->{node.To.Id}[\"{node.To}\"]");
        pathOutOfMaze = "graph TD\n" + string.Join("\n", instructions);
        Console.WriteLine(pathOutOfMaze);
    }

    private void GenerateTwistyeMaze()
    {
        MazeCell startLocation = MazeUtilities.twistyMazeFor(name);

        var path = MazeUtilities.ExploreMaze(startLocation);
        var instructions = path.Select(node => $"{node.From.Id}[\"{node.From}\"]--{node.Label}-->{node.To.Id}[\"{node.To}\"]");
        pathOutOfTwistyMaze = "graph TD\n" + string.Join("\n", instructions);
        Console.WriteLine(pathOutOfTwistyMaze);
    }
}